.tabs{
    max-width: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px 0;

    ul{
        display: flex;
        gap: 30px;

        a{
            text-decoration: none;
            color: #424242;
        }
        .active{
            color: #D05270;
            border-bottom: 2px solid #D05270;
        }
    }
}